/*** 

====================================================================
	Header style One
====================================================================

***/

.hm2-header-style-two{
	position:relative;
	z-index:99;
	width:100%;
}

/* Header Top */

.hm2-header-style-two .header-top{
	position:relative;
	background-color:var(--main-color);
}

.hm2-header-style-two .inner-container{
	position:relative;
}

.hm2-header-style-two .header-top .top-left{
	position: relative;
	float:left;
}

.hm2-header-style-two .header-top .info-list{
	position:relative;
	float:left;
	padding:14px 0px 14px;
}

.hm2-header-style-two .header-top .info-list li{
	position: relative;
	color:var(--white-color);
	font-size:var(--font-16);
	line-height:1.2em;
	margin-right:var(--margin-right-10);
	padding-right:15px;
	display:inline-block;
	border-right:1px solid var(--white-color-opicity);
}

.hm2-header-style-two .header-top .info-list li:last-child{
	margin-right:0px;
	border:none;
	padding-right:0px;
}

.hm2-header-style-two .header-top .info-list li .icon{
	position:relative;
	left:0px;
	top:0px;
	margin-right:var(--margin-right-10);
	color:var(--white-color);
}

.hm2-header-style-two .header-top .info-list li a{
	position: relative;
	color:var(--white-color);
	font-family:var(--font-family-fira);
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
}

.hm2-header-style-two .header-top .info-list li a:hover{
	color:#343645;
}

.hm2-header-style-two .header-top .mailbox{
	position:relative;
	float:left;
	margin-left:160px;
	padding:13.5px 30px;
	background-color:#d70057;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
}

.hm2-header-style-two .header-top .mailbox:hover{
	background-color:#343645;
}

.hm2-header-style-two .header-top .mailbox a{
	position:relative;
	padding-left:25px;
	font-weight:500;
	font-size:var(--font-15);
	color:var(--white-color); 
	font-family:var(--font-family-fira);
}

.hm2-header-style-two .header-top .mailbox a .icon{
	position:absolute;
	left:0px;
}

.hm2-header-style-two .header-top .top-right{
	position: relative;
}

.hm2-header-style-two .header-top .top-right .social-box{
	position: relative;
	padding:13px 0px;
	float:left;
}

.hm2-header-style-two .header-top .top-right .social-box li{
	position: relative;
	margin-left:var(--margin-left-15);
	display:inline-block;
}

.hm2-header-style-two .header-top .top-right .social-box .follow{
	position:relative;
	font-weight:600;
	font-size:var(--font-16);
	color:var(--white-color);
	font-family:var(--font-family-fira);
}

.hm2-header-style-two .header-top .top-right .social-box li a{
	position: relative;
	color:var(--white-color);
	font-size:var(--font-16);
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
}

.hm2-header-style-two .header-top .top-right .social-box li a:hover{
	color:#343645;
}

.hm2-header-style-two .main-box{
	position:relative;
	padding:0px 0px;
	left:0px;
	top:0px;
	width:100%;
	background:none;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
}

.hm2-header-style-two .main-box .outer-container{
	position:relative;
	padding:0px 40px;
}

.hm2-header-style-two .main-box .logo-box{
	position:relative;
	float:left;
	left:0px;
	z-index:10;
	padding:30px 0px;
}

.hm2-header-style-two .main-box .logo-box .logo img{
	display:inline-block;
	max-width:100%;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;	
}

.hm2-header-style-two .header-upper{
	position:relative;
}

.hm2-header-style-two .header-upper .upper-right{
	position:relative;
	padding-top:22px;
}

.hm2-header-style-two .header-upper .inner-container{
	position:relative;
}

.hm2-header-style-two .header-upper .outer-container{
	position:relative;
	padding: 0px 30px;
}

.hm2-header-style-two .nav-outer{
	position:relative;
	float:right;
}

.hm2-header-style-two .header-upper .logo-box{
	position: relative;
	padding:13px 0px;
}

.hm2-header-style-two .header-upper .logo-box .logo{
	position:relative;
}

/* Search Box Outer */

.hm2-header-style-two .header-top .search-box-outer{
	position: relative;
	float:left;
	color:#ffffff;
}

.hm2-header-style-two .header-top .search-box-btn{
	position:relative;
	cursor:pointer;
	padding: 13.5px 16px;
	font-size:var(--font-16);
	color:var(--white-color);
	margin-left:var(--margin-left-20);
	background-color:var(--main-color-two);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;	
}

.hm2-header-style-two .header-top .search-box-btn:hover{
	background-color:#343645;
}

.hm2-header-style-two .header-top .search-box-btn:after{
	display:none;
}

.hm2-header-style-two .header-top .search-box-outer .dropdown-menu{
	top:45px;
	right:0px;
	padding:0px;
	width:280px;
	margin-top:50px;
	border-radius:0px;
	left:auto !important;
	border-top:3px solid #343645;
	transform:translate3d(0px, 0px, 0px) !important;
}

.hm2-header-style-two .header-top .search-box-outer .dropdown-menu > li{
	padding:0px;
	border:none;
	background:none;
}

.hm2-header-style-two .header-top .search-panel .form-container{
	padding:27px 20px;
}

.hm2-header-style-two .header-top .search-panel .form-group{
	position:relative;
	margin:0px;	
}

.hm2-header-style-two .header-top .search-panel input[type="text"],
.hm2-header-style-two .header-top .search-panel input[type="search"],
.hm2-header-style-two .header-top .search-panel input[type="password"],
.hm2-header-style-two .header-top .search-panel select{
	display:block;
	width:100%;
	height:40px;
	font-size:14px;
	line-height:24px;
	color:var(--black-color);
	padding:7px 40px 7px 15px;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
	background:var(--white-color);
	font-family:var(--font-family-fira);
	border:1px solid var(--black-color-opicity-two);
}

.hm2-header-style-two .header-top .search-panel input:focus,
.hm2-header-style-two .header-top .search-panel select:focus{
	border-color:var(--main-color);
}

.hm2-header-style-two .header-top .search-panel .search-btn{
	position:absolute;
	right:0px;
	top:0px;
	width:40px;
	height:40px;
	text-align:center;
	color:var(--dark-color);
	font-size:12px;
	color:var(--white-color);
	background:var(--main-color);
	cursor:pointer;
}

/* Main Menu */

.hm2-header-style-two .main-menu{
	position:relative;
	float:left;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
}

.hm2-header-style-two .main-menu .navbar-collapse{
	padding:0px;
	float: left;
	display:block !important;
}

.hm2-header-style-two .main-menu .navigation{
	position:relative;
	margin:0px;
}

.hm2-header-style-two .main-menu .navigation > li{
	position:relative;
	float:left;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	border-left:1px solid var(--light-border-color);
}

.hm2-header-style-two .main-menu .navigation > li:last-child{
	border-right:1px solid var(--light-border-color);
}

.hm2-header-style-two .sticky-header .main-menu .navigation > li > a{
	color:var(--dark-text-color);
}

.hm2-header-style-two .sticky-header .main-menu .navigation > li:hover > a,
.hm2-header-style-two .sticky-header .main-menu .navigation > li.current > a{
	color:var(--main-color);
	background-color:inherit !important;
}

.hm2-header-style-two .sticky-header .nav-outer .options-box{
	margin-top:var(--margin-top-40);
}

/*Sticky Header*/

.hm2-header-style-two .sticky-header{
	position:fixed;
	opacity:0;
	visibility:hidden;
	left:0px;
	top:0px;
	width:100%;
	padding:0px 0px;
	z-index:0;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	background-color:var(--white-color);
	box-shadow:0px 0px 10px rgba(0,0,0,0.10);
}

.hm2-header-style-two .sticky-header .logo{
	padding:14px 0px;
}

.hm2-header-style-two.fixed-header .sticky-header{
	z-index:999;
	opacity:1;
	visibility:visible;
	-ms-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-op-animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-ms-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-op-animation-duration: 500ms;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-ms-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-op-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-ms-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-op-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;	
}

.hm2-header-style-two .main-menu .navigation > li > a{
	position:relative;
	display:block;
	text-align:center;
	line-height:30px;
	letter-spacing:0px;
	opacity:1;
	font-weight:500;
	padding:34px 28px;
	font-size:var(--font-18);
	color:var(--dark-text-color-two);
	text-transform: capitalize;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	font-family:var(--font-family-fira);
}

.hm2-header-style-two .main-menu .navigation > li:last-child{
	border-right:none;
}

.hm2-header-style-two .main-menu .navigation > li:last-child > a{
	padding-right:0px;
}

.hm2-header-style-two .main-menu .navigation > li.dropdown > a{
	padding-right:40px !important;
}

.hm2-header-style-two .main-menu .navigation > li.dropdown > a:before{
	font-family: 'FontAwesome';
    content: "\f0d7";
    position: absolute;
    right: 20px;
    font-size:var(--font-16);
    line-height: 34px;
}

.hm2-header-style-two .sticky-header .main-menu .navigation > li{
	position:relative;
}

.hm2-header-style-two .main-menu .navigation > li:hover > a,
.hm2-header-style-two .main-menu .navigation > li.current > a{
	opacity:1;
	color:var(--main-color);
}

.hm2-header-style-two .main-menu .navigation > li > ul{
	position:absolute;
	left:-30px;
	top:100%;
	width:240px;
	z-index:100;
	display:none;
	opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
	border-radius:0px;
	background-color:#343645;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
	border:1px solid rgba(255,255,255,0.10);
}

.hm2-header-style-two .main-menu .navigation > li > ul.from-right{
	left:auto;
	right:0px;	
}

.hm2-header-style-two .main-menu .navigation > li > ul > li{
	position:relative;
	width:100%;
	text-align:left;
	border-bottom:1px solid rgba(255,255,255,0.10);
}

.hm2-header-style-two .main-menu .navigation > li > ul > li:last-child{
	border-bottom:none;
}

.hm2-header-style-two .main-menu .navigation > li > ul > li > a{
	position:relative;
	display:block;
	padding:12px 18px;
	line-height:24px;
	font-weight:500;
	font-size:var(--font-16);
	text-transform:capitalize;
	color:var(--white-color);
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.hm2-header-style-two .main-menu .navigation > li > ul > li > a:before{
	position:absolute;
	content:'//';
	left:10px;
	top:11px;
	opacity:0;
	color:var(--main-color);
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.hm2-header-style-two .main-menu .navigation > li > ul > li:hover > a::before{
	opacity:1;
}

.hm2-header-style-two .sticky-header .main-menu .navigation > li > a:before{
	
}

.hm2-header-style-two .main-menu .navigation > li > ul > li:hover > a{
	padding-left:30px;
	color:var(--main-color);
}

.hm2-header-style-two .main-menu .navigation > li > ul > li.dropdown > a:after{
	font-family: 'FontAwesome';
	content: "\f105";
	position:absolute;
	right:8px;
	top:13px;
	width:10px;
	height:20px;
	display:block;
	color:var(--white-color);
	line-height:20px;
	font-size:var(--font-16);
	font-weight:normal;
	text-align:center;
	z-index:5;	
}

.hm2-header-style-two .main-menu .navigation > li > ul > li > ul{
	position:absolute;
	left:120%;
	top:0%;
	width:210px;
	z-index:100;
	display:none;
	opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
	border-radius:0px;
	background-color:#343645;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
	border:1px solid rgba(255,255,255,0.10);
}

.hm2-header-style-two .main-menu .navigation > li > ul > li > ul.from-right{
	left:auto;
	right:0px;	
}

.hm2-header-style-two .main-menu .navigation > li > ul > li > ul > li{
	position:relative;
	width:100%;
	text-align:left;
	border-bottom:1px solid rgba(255,255,255,0.10);
}

.hm2-header-style-two .main-menu .navigation > li > ul > li > ul > li:last-child{
	border-bottom:none;	
}

.hm2-header-style-two .main-menu .navigation > li > ul > li > ul > li > a{
	position:relative;
	display:block;
	padding:12px 18px;
	line-height:24px;
	font-weight:500;
	font-size:var(--font-16);
	text-transform:capitalize;
	color:var(--white-color);
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.hm2-header-style-two .main-menu .navigation > li > ul > li > ul > li:hover > a{
	color:var(--main-color);
}

.hm2-header-style-two .main-menu .navigation > li > ul > li > ul > li > a:before{
	position:absolute;
	content:'//';
	left:10px;
	top:11px;
	opacity:0;
	color:var(--main-color);
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.hm2-header-style-two .main-menu .navigation > li > ul > li > ul > li:hover > a::before{
	opacity:1;
}

.hm2-header-style-two .main-menu .navigation > li > ul > li > ul > li:hover > a{
	color:var(--main-color);
	padding-left:30px;
}

.hm2-header-style-two .main-menu .navigation > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	left:0px;
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.hm2-header-style-two .main-menu .navigation li > ul > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	top:0;
	left:100%;
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;	
}

.hm2-header-style-two .main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
	position:absolute;
	right:10px;
	top:6px;
	width:30px;
	height:30px;
	text-align:center;
	color:var(--white-color);
	line-height:28px;
	border:1px solid var(--white-color-opicity-two);
	background-size:20px;
	cursor:pointer;
	z-index:5;
	display:none;
}

/*** 

====================================================================
	Mobile Menu
====================================================================

***/

.hm2-header-style-two .nav-outer .mobile-nav-toggler{
	position: relative;
	float: right;
	font-size: var(--font-30);
	line-height: 50px;
	cursor: pointer;
	color:var(--black-color);
	display: none;
}

.hm2-header-style-two .hm2-mobile-menu{
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
	padding-right:30px;
	max-width:100%;
	height: 100%;
	visibility: hidden;
	z-index: 999999;
}

.hm2-header-style-two .hm2-mobile-menu .nav-logo{
	position:relative;
	padding:20px 20px;
	text-align:left;	
}

.hm2-header-style-two .hm2-mobile-menu .nav-logo img{
	max-width:200px;
}

.hm2-mobile-menu-visible{
	overflow: hidden;
}

.hm2-mobile-menu-visible .hm2-mobile-menu{
	visibility: visible;
}

.hm2-header-style-two .hm2-mobile-menu .menu-backdrop{
	position: fixed;
	right: 0;
	top: 0;
	width: 0%;
	height: 100%;
	z-index: 1;
	background-color: var(--black-color-opicity);
	-webkit-transform: translateX(-101%);
	-ms-transform: translateX(-101%);
	transform: translateX(-101%);
	transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
	
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-ms-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	transition-delay: 300ms;
}

.hm2-mobile-menu-visible .hm2-mobile-menu .menu-backdrop{
	opacity: 1;
	width:100%;
	visibility: visible;
	transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

.hm2-header-style-two .hm2-mobile-menu .menu-box{
	position: absolute;
	right: -400px;
	top: 0px;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
	background-color: var(--white-color);
	padding: 0px 0px;
	z-index: 5;
	border-radius: 0px;
	transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
}

.hm2-mobile-menu-visible .hm2-mobile-menu .menu-box{
	right:0px;
	-webkit-transition-delay: 600ms;
	-moz-transition-delay: 600ms;
	-ms-transition-delay: 600ms;
	-o-transition-delay: 600ms;
	transition-delay: 600ms;
}

.hm2-header-style-two .hm2-mobile-menu .close-btn{
	position: absolute;
	right: 15px;
	top: 15px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	font-size: 14px;
	color: var(--main-color);
	cursor: pointer;
	z-index: 10;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.hm2-mobile-menu-visible .hm2-mobile-menu .close-btn{
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 900ms;
	-moz-transition-delay: 900ms;
	-ms-transition-delay: 900ms;
	-o-transition-delay: 900ms;
	transition-delay: 900ms;
}

.hm2-header-style-two .hm2-mobile-menu .close-btn:hover{
	opacity: 0.50;
}

.hm2-header-style-two .hm2-mobile-menu .navigation{
	position: relative;
	display: block;
	width:100%;
	border-top: 1px solid var(--black-color-opicity-two);
}

.hm2-header-style-two .hm2-mobile-menu .navigation li{
	position: relative;
	display: block;
	border-bottom: 1px solid var(--black-color-opicity-two);
}

.hm2-header-style-two .hm2-mobile-menu .navigation li > ul > li:last-child{
	border-bottom: none;
}

.hm2-header-style-two .hm2-mobile-menu .navigation li > ul > li:first-child{
	border-top: 1px solid var(--black-color-opicity-two);
}

.hm2-header-style-two .hm2-mobile-menu .navigation li > a{
	position: relative;
	display: block;
	line-height: 24px;
	padding: 10px 20px;
	font-size: var(--font-16);
	color: var(--dark-color);
	text-transform: capitalize;
}

.hm2-header-style-two .hm2-mobile-menu .navigation li:hover > a,
.hm2-header-style-two .hm2-mobile-menu .navigation li.current > a{
	color: var(--dark-text-color-two);
}

.hm2-header-style-two .hm2-mobile-menu .navigation li.dropdown .dropdown-btn{
	position:absolute;
	right:0px;
	top:0px;
	width:44px;
	height:44px;
	text-align:center;
	color: var(--dark-color);
	font-size: var(--font-16);
	line-height:44px;
	cursor:pointer;
	z-index:5;
}

.hm2-header-style-two .hm2-mobile-menu .navigation li.dropdown .dropdown-btn:after{
	content:'';
	position:absolute;
	left:0px;
	top:10px;
	width:1px;
	height:24px;
	border-left:1px solid var(--black-color-opicity-two);
}

.hm2-header-style-two .hm2-mobile-menu .navigation li > ul,
.hm2-header-style-two .hm2-mobile-menu .navigation li > ul > li > ul{
	display: none;
}

.hm2-header-style-two .sticky-header .navbar-header{
	display:none;
}

/*** 

====================================================================
	Search Popup
====================================================================

***/


.search-popup{
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 99999;
	margin-top: -540px;
	transform: translateY(-100%);
	background-color: rgba(0,0,0,0.90);
    -webkit-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: all 1500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
    -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
}

.sidenav-bar-visible .search-popup{
	width: 80%;
}

.search-popup:before{
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 560px;
	background-image: url(../images/icons/waves-shape.html);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 0px;
	content: "";
}

.search-active .search-popup{
	transform: translateY(0%);
	margin-top: 0;
}

.search-popup .close-search{
	position: absolute;
	left: 0;
	right: 0;
	top: 75%;
	margin: 0 auto;
	margin-top: -200px;
	border-radius: 50%;
	text-align: center;
	background-color:var(--lightBlue-color);
	width: 70px;
	cursor:pointer;
	box-shadow: 0 0 10px var(--black-color-opicity-two);
	border-bottom: 3px solid var(--yellow-color);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}

.search-popup .close-search span{
	position: relative;
	display: block;
	height: 70px;
	width: 70px;
	font-size:var(--font-30);
	line-height: 70px;
	color: var(--white-color);
}

.search-active .search-popup .close-search{
	visibility: visible;
	opacity: 1;
	top: 50%;
	-webkit-transition-delay: 1500ms;
	-moz-transition-delay: 1500ms;
	-ms-transition-delay: 1500ms;
	-o-transition-delay: 1500ms;
	transition-delay: 1500ms;
}

.search-popup form{
	position: absolute;
	max-width: 700px;
	top: 50%;
	left: 15px;
	right: 15px;
	margin:-35px auto 0;
	transform: scaleX(0);
	transform-origin: center;
	background-color: var(--dark-color);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.search-active .search-popup form{
	transform: scaleX(1);
	-webkit-transition-delay: 1200ms;
	-moz-transition-delay: 1200ms;
	-ms-transition-delay: 1200ms;
	-o-transition-delay: 1200ms;
	transition-delay: 1200ms;
}

.search-popup .form-group{
	position:relative;
	margin:var(--margin-zero);
	overflow: hidden;
}

.search-popup .form-group input[type="text"],
.search-popup .form-group input[type="search"]{
	position:relative;
	display:block;
	font-size:var(--font-18);
	line-height: 50px;
	color:var(--black-color);
	height:70px;
	width:100%;
	padding: 10px 30px;
	background-color: var(--white-color);
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	font-weight:500;
	text-transform:capitalize;
}

.search-popup .form-group input[type="submit"],
.search-popup .form-group button{
	position:absolute;
	right:30px;
	top:0px;
	height:70px;
	line-height: 70px;
	background: transparent;
	text-align:center;
	font-size:var(--font-24);
	color:var(--black-color);
	padding: 0;
	cursor:pointer;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.search-popup .form-group input[type="submit"]:hover,
.search-popup .form-group button:hover{
	color: var(--black-color);
}

.search-popup input::placeholder,
.search-popup textarea::placeholder{
	color: var(--black-color);
}

.search-popup .close-search.style-two{
	position: absolute;
	right: 25px;
	left: auto;
	color: var(--white-color);
	width:auto;
	height:auto;
	top:25px;
	margin:0px;
	border:none;
	background:none !important;
	box-shadow:none !important;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.search-popup .close-search.style-two span{
	font-size:var(--font-20);
	color: var(--white-color);
}

.hm2-header-style-two .sticky-header .search-box-btn{
	color: var(--black-color);
	margin-top:var(--margin-top-10);
}

.hm2-header-style-two .hm2-mobile-menu .menu-box .mCSB_scrollTools{
	width:3px;
}